body {
  font-family: 'Noto Sans', sans-serif;
}

.task-buttons {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between; 
}

.task-button {
  flex: 1 1 auto;
  background-color: hwb(217 26% 15% / 0.968);
  border: none;
  padding: 10px 30px;
  margin: 0 3px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  color: white;
  text-align: center;
  width: 180px;
  box-sizing: border-box;
}


.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-pair-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  height: auto;
  aspect-ratio: 2 / 1;
  margin: 0 auto;
  border: none;
}

.fixed-image,
.slide-container {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  clip-path: inset(0 50% 0 0);
  transition: clip-path 0.01s ease;
}

.slider {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.slider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  cursor: pointer;
}

.slider-arrow {
  font-size: 15px;
  color: #333;
}

.sliderlargearrow {
  font-size: 50px;
  color: #333;
}

.left-arrow,
.right-arrow {
  line-height: 0;
}

.leftside {
  left: 10px;
}

.rightside {
  right: 10px;
}

.leftside,
.rightside {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 100;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dots-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot,
.dotimgnet {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: hwb(217 26% 15% / 0.968);
}

.dotimgnet.active {
  background-color: hwb(217 26% 15% / 0.968);
}

.chart-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.chart-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.chart-title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
}

.chart-caption {
  font-size: 18px;
  white-space: nowrap; 
}

#caption {
  margin-top: 50px;
  font-size: 18px;
  color: #333;
  white-space: normal; 
  overflow: visible;
}

#caption.highlight {
  color: #e74c3c;
  font-weight: bold;
  transition: color 0.3s ease;
}
.chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  width: 100%;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  position: relative;
}

.bar {
  width: 60px;
  background-color: #3498db;
  height: 0;
  transition: height 1s ease-out;
  position: relative;
  margin: 0 5px;
}

.bar.ourbar {
  background-color: #e74c3c;

}

.bar:hover {
  background-color: #2980b9;
}

.bar::before {
  content: attr(data-value);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #333;
}

.bar::after {
  content: attr(data-label);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  margin-top: 15px;
  white-space: nowrap;
}

.bar.ourbar::before {
  content: attr(data-value);
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fd0303;
}

.bar-marker {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  width: 50px;
  height: 50px;
  background-color: #e74c3c;
  clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
  );
  z-index: 5
}

.x-axis {
  margin-top: 10px;
  font-size: 18px;
}

.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
}

.y-label {
  font-size: 14px;
  text-align: right;
  position: absolute;
  left: -40px;
  font-weight: bold;
}

.y-label:nth-child(1) {
  top: -7%;
  left: -20%;
  font-size: 18px;

}

.y-label:nth-child(2) {
  top: 0%;
  right: -20%;
}

.y-label:nth-child(3) {
  top: 33%; 
  right: -20%;
}

.y-label:nth-child(4) {
  top: 67%; 
  right: -20%;
}

.y-label:nth-child(5) {
  bottom: 0; 
  right: -20%;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.publication-title {
}

.publication-banner {
  max-height: parent;
}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  display: inline-block;
  color: #555;
  width: fit-content;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
